<h1 style='text-align:center'>Investigative Analysis of Heart Disease Diagnosis</h1>

Dataset <a href="https://www.kaggle.com/ronitf/heart-disease-uci?select=heart.csv">Heart Disease UCI</a>

<a id="section_n" name="section_n"></a>

## Table of Contents

* [1. Introduction](#chapter2)
    * [Heart Disease](#section_2_1)
    * [Relevant Study](#section_2_2)
    * [Research Question and Problem Statement](#section_2_3)
    * [Data Description](#section_2_4)
    * [Executive Summary](#section_2_5)
    * [Variable Description](#section_2_6)
* [2. Data Analysis and Exploration](#chapter3)
    * [Data Preparation](#section_3_1)
    * [Missing Values](#section_3_2)
    * [Outliers](#section_3_3)
    * [Encoding](#section_3_4)
    * [Exploratory Analysis and Data Visualization](#section_3_5)
* [3. Algorithm Implementation](#chapter4)
    * [Data Preparation](#section_4_1)
    * [Training A Model](#section_4_2)
    * [Optimize The Model](#section_4_3)
    * [Training A State of The Art Model](#section_4_4)
    * [Compare Model Performance](#section_4_5)
    * [Conclusion](#section_4_6)

research / latex references

*  https://0-pubmed-ncbi-nlm-nih-gov.innopac.wits.ac.za/2756873/  International application of a new probability algorithm for the diagnosis of coronary artery disease https://0-www-sciencedirect-com.innopac.wits.ac.za/science/article/pii/0002914989905249?via%3Dihub

* Categories https://rdrr.io/github/coatless/ucidata/man/heart_disease.html#heading-3 

* Another paper https://www.cabdirect.org/cabdirect/abstract/19711403775  
Coronary heart disease in seven countries.

 
*  Heart failure https://my.clevelandclinic.org/health/diseases/17069-heart-failure-understanding-heart-failure

* Heart Disease https://my.clevelandclinic.org/health/diseases/16898-coronary-artery-disease

<a id="chapter2" name="chapter2">chapter2</a>

<h2 style="text-align:center">Introduction: Heart Disease Diagnosis</h2>

<a id="section_2_1" name="section_2_1">section_2_1</a>

<h4 style="color:lightcoral"><strong>Heart Disease</strong></h4>

<a id="section_2_2" name="section_2_2">section_2_2</a>

<h4 style="color:lightcoral"><strong>Relevant Study</strong></h4>

<a id="section_2_3" name="section_2_3">section_2_3</a>

<h4 style="color:lightcoral"><strong>Researh Question and Problem</strong></h4>

> <strong>Hypothesis:</strong>

> <strong>Relationships</strong>:

> <strong>Predictions</strong>:

<a id="section_2_4" name="section_2_4">section_2_4</a>

<h4 style="color:lightcoral"><strong>Data Description</strong></h4>

<strong style="color:lightcoral">Chest Pain Type</strong>
> * Value 1: Typical Angina

> * Value 2: Atypical Angina

> * Value 3: Non-Anginal Pain

> * Value 4: Asymptomatic


<strong style="color:lightcoral">Fasting Blood Sugar > 120 mg</strong>
> 1: True

> 2: False 


<strong style="color:lightcoral">Resting Electrocardiographic Results</strong>
> * Value 0: Normal

> * Value 2: Having ST-T Wave Abnormality (T Wave Inversions)

> * Value 3: Showing Probable or Definite Left Ventricular Hypertrophy


<strong style="color:lightcoral">Slope: The Slope of the Peak Exercise of ST Segment</strong>
> * Value 1: Upsloping

> * Value 2: Flat

> * Value 3: Downsloping

<a id="section_2_5" name="section_2_5">section_2_5</a>

<h4 style="color:lightcoral"><strong>Executive Summary</strong></h4>

<a id="chapter3" name="chapter3">chapter3</a>

<h2 style="text-align:center">Data Analysis and Exploration</h2>

<a id="section_3_1" name="section_3_1">section_3_1</a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import engine.data_preparation as dp

<h4 style="color:lightcoral"><strong>Data Preparation</strong></h4>

> Read dataset 

> Appropriately change data types

> Description 
> * Number of rows
> * Number of features

> Is the data balanced ?

In [2]:
dir_str = "Datasets/data/processed.{}.data"
names = {"age":"Age","sex":"Sex","cp":"Chest Pain Type","trestbps":"Resting Blood Pressure","chol":"Serum Cholestoral In mg/dl",
         "fbs":"Fasting Blood Sugar > 120 mg/dl","restecg":"Resting Electrocardiographic Results","thalach":"Duration of Exercise In Minutes",
         "exang":"Exercise Induced Angina","oldpeak":"ST Depression Induced By Exercise","slope":"The Slope of The Peak Exercise ST Segment",
         "ca":"Number of Major Vessels","thal":"Normal/Fixed or Reversable Defect","num":"Presence"
        }
convert_dict = {'sex': int,'cp': int,'fbs':int,'restecg':int,'exang':int,'slope':int,'ca':int,'num':int}
columns = list(names.keys())

In [3]:
cleveland = pd.read_csv(dir_str.format("cleveland"),names=columns,na_values='?')
hungarian = pd.read_csv(dir_str.format("hungarian"),names=columns,na_values='?')
switzerland = pd.read_csv(dir_str.format("switzerland"),names=columns,na_values='?')
va = pd.read_csv(dir_str.format("va"),names=columns,na_values='?')
print("{}: Number of Rows: {} x Number of Columns: {} ".format("cleveland",len(cleveland),len(cleveland.columns)))
print("{}: Number of Rows: {} x Number of Columns: {} ".format("hungarian",len(hungarian),len(hungarian.columns)))
print("{}: Number of Rows: {} x Number of Columns: {} ".format("switzerland",len(switzerland),len(switzerland.columns)))
print("{}: Number of Rows: {} x Number of Columns: {} ".format("long beach",len(va),len(va.columns)))
print('======================================================================================================')
cleveland.head()

cleveland: Number of Rows: 303 x Number of Columns: 14
hungarian: Number of Rows: 294 x Number of Columns: 14
switzerland: Number of Rows: 123 x Number of Columns: 14
long beach: Number of Rows: 200 x Number of Columns: 14
======================================================================================================

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [4]:
cleveland = dp.group_target(cleveland);hungarian =  dp.group_target(hungarian)
switzerland = dp.group_target(switzerland);va =  dp.group_target(va)
heart_data = pd.concat([cleveland,hungarian,switzerland,va])
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,1.0,150.0,0.0,2.3,1.0,0.0,6.0,0
1,67.0,1.0,1.0,160.0,286.0,0.0,1.0,108.0,1.0,1.5,1.0,1.0,1.0,1
2,67.0,1.0,1.0,120.0,229.0,0.0,1.0,129.0,1.0,2.6,1.0,1.0,7.0,1
3,37.0,1.0,1.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,1.0,0.0,1.0,0
4,41.0,0.0,1.0,130.0,204.0,0.0,1.0,172.0,0.0,1.4,1.0,0.0,1.0,0

<a id="section_3_2" name="section_3_2">section_3_2</a>

<h4 style="color:lightcoral"><strong>Missing Values</strong></h4>
<strong style="color:lightcoral">Goals</strong>: Create 3 different datasets from:

> Dropping values

> Replacing missing values with the means

> Learn the missing feature using an algorithm

In [5]:
# ============== Drop Missing Values
drop_missing_cleveland = (cleveland.copy().dropna()).astype(convert_dict)
drop_missing_hungarian = ( hungarian.copy().dropna()).astype(convert_dict)
drop_missing_switzerland = (switzerland.copy().dropna()).astype(convert_dict)
drop_missing_va = (va.copy().dropna()).astype(convert_dict)
drop_missing_heart = (heart_data.copy().dropna()).astype(convert_dict) # This is the combined dataset


# ================ Mean Dataset 


# ================ Learned Missing Features Dataset 

drop_missing_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1,1,145.0,233.0,1,1,150.0,0,2.3,1,0,6.0,0
1,67.0,1,1,160.0,286.0,0,1,108.0,1,1.5,1,1,1.0,1
2,67.0,1,1,120.0,229.0,0,1,129.0,1,2.6,1,1,7.0,1
3,37.0,1,1,130.0,250.0,0,0,187.0,0,3.5,1,0,1.0,0
4,41.0,0,1,130.0,204.0,0,1,172.0,0,1.4,1,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,68.0,1,1,144.0,193.0,1,0,141.0,0,3.4,1,1,7.0,1
300,57.0,1,1,130.0,131.0,0,0,115.0,1,1.2,1,1,7.0,1
301,57.0,0,1,130.0,236.0,0,1,174.0,0,0.0,1,1,1.0,1
205,47.0,1,4,150.0,226.0,0,0,98.0,1,1.5,2,0,7.0,1
28,56.0,1,1,120.0,100.0,0,0,120.0,1,1.5,1,0,7.0,1

In [6]:
"""
for Shameel
Note: Below data has missing values 
run data.isnull().sum()
"""

X = dp.add_bias(cleveland.iloc[:,:-1])
y = cleveland.iloc[:,-1]
X

,Bias,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1.0,63.0,1.0,1.0,145.0,233.0,1.0,1.0,150.0,0.0,2.3,1.0,0.0,6.0
1,1.0,67.0,1.0,1.0,160.0,286.0,0.0,1.0,108.0,1.0,1.5,1.0,1.0,1.0
2,1.0,67.0,1.0,1.0,120.0,229.0,0.0,1.0,129.0,1.0,2.6,1.0,1.0,7.0
3,1.0,37.0,1.0,1.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,1.0,0.0,1.0
4,1.0,41.0,0.0,1.0,130.0,204.0,0.0,1.0,172.0,0.0,1.4,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,1.0,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,1.0,0.0,7.0
299,1.0,68.0,1.0,1.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,1.0,1.0,7.0
300,1.0,57.0,1.0,1.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,1.0,1.0,7.0
301,1.0,57.0,0.0,1.0,130.0,236.0,0.0,1.0,174.0,0.0,0.0,1.0,1.0,1.0
302,1.0,38.0,1.0,1.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,1.0

<a id="section_3_3" name="section_3_3">section_3_3</a>

<h4 style="color:lightcoral"><strong>Outliers</strong></h4>

<a id="section_3_4" name="section_3_4">section_3_4</a>

<h4 style="color:lightcoral"><strong>Encoding</strong></h4>
<strong style="color:lightcoral">Goals</strong>: Encode the data for model preparation

> One-Hot encode dataset

<a id="section_3_5" name="section_3_5">section_3_5</a>

<h4 style="color:lightcoral"><strong>Exploratory Analysis and Data Visualization</strong></h4>


> Probability density function 

> Target Variables

> Outliers

> Box Plot 

> Scatter Plots

> Histogram

> Mean Plots

<a id="chapter4" name="chapter4">chapter4</a>

<h2 style="text-align:center">Algorithm</h2>

> Train a model to predict heart disease 
> * Perform Hyperparameter Tuning

> Optimize the model to predict heart disease 
> * Perform Hyperparameter Tuning

> Train a state of the art algorithm

> Compare the three models and interpret the results

> Finalize the choice of the final model

<a id="section_4_1" name="section_4_1">section_4_1</a>

<h4 style="color:lightcoral"><strong>Data Preparation</strong></h4>

> Train Validation Test Split

> Cross-Validation using K-Fold

> Set the hyperparameters of the model

<a id="section_4_2" name="section_4_2">section_4_2</a>

<h4 style="color:lightcoral"><strong>Training A Model</strong></h4>

> Train A Logistic regression model

> Tune hyperparameters

> Choose the best model

<a id="section_4_3" name="section_4_3">section_4_3</a>

<h4 style="color:lightcoral"><strong>Optimize The Model</strong></h4>

> Train An Optimized Logistic regression model

> Tune hyperparameters

> Choose the best model

<a id="section_4_4" name="section_4_4">section_4_4</a>

<h4 style="color:lightcoral"><strong>Training A State of The Art Model</strong></h4>

> Train A Logistic regression model

<a id="section_4_5" name="section_4_5">section_4_5</a>

<h4 style="color:lightcoral"><strong>Compare Model Performance</strong></h4>

> Train A Logistic regression model

<a id="section_4_6" name="section_4_6">section_4_6</a>

<h4 style="color:lightcoral"><strong>Conclusion</strong></h4>

[back to top](#section_n)